.bgcol {
    background-color: black;
    background-image: linear-gradient(60deg, blue, red);
}
.image-size {
    height: 400px;
}

.image-size:nth-child(1) {
    object-fit: cover;
    object-position: center;
}
.image-size:nth-child(2) {
    object-fit: cover;
    object-position: center center;
}
.image-size:nth-child(3) {
    object-fit: cover;
    object-position: top center;
}
